body{

  margin:0;
  text-align: center;
  font-family: 'Merriweather',serif;
  color: #black;
}
h1{

  font-family: 'Sacramento',cursive;
  font-size: 70px;
  color: #6a197d;
  margin:50px auto 38px auto;
}
h2{
font-family: 'Montserrat', sans-serif;
font: 34px;
font-weight: normal;
color: #e7305b;

}
.top-container{
background-color: #b9fffc;
position: relative;
padding-top: 100px;


}
.top-cloud{
position: absolute;
right: 320px;
top: 40px;


}
.bottom-cloud{
position: absolute;
left: 280px;
bottom: 240px;
}

.middle-container{
  margin: 100px 0;
}

.image-girl{

  width: 250px;
  height:250px;
  border-radius: 100%;

}
hr{
border-style: none;
border-top-style: dotted;
border-color: #e7305b;
border-width: 5px;
width: 10%;
margin: 100px auto;

}
.skill-row{
  width: 50%;
  margin: 100px auto;
  text-align: left;
}
.skill-1{
  width: 25%;
  float: left;
  margin-right: 80px;
}
.skill-2{
  width: 25%;
  float: right;
  margin-left: 80px;

}
.skill-3{
  width: 25%;
  float: left;
  margin-right: 80px;
}
.skill-4{
  width: 25%;
  float: right;
  margin-left: 80px;
}
.contact-me{
  width: 40%;
  margin: 40px auto;
}
.classname{


	-moz-box-shadow: 0px 10px 14px -7px #0e373d;
	-webkit-box-shadow: 0px 10px 14px -7px #0e373d;
	box-shadow: 0px 10px 14px -7px #0e373d;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a6d5e6), color-stop(1, #408c99) );
	background:-moz-linear-gradient( center top, #a6d5e6 5%, #408c99 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6d5e6', endColorstr='#408c99');
	background-color:#a6d5e6;
	-webkit-border-top-left-radius:8px;
	-moz-border-radius-topleft:8px;
	border-top-left-radius:8px;
	-webkit-border-top-right-radius:8px;
	-moz-border-radius-topright:8px;
	border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
	-moz-border-radius-bottomright:8px;
	border-bottom-right-radius:8px;
	-webkit-border-bottom-left-radius:8px;
	-moz-border-radius-bottomleft:8px;
	border-bottom-left-radius:8px;
text-indent:0;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
height:50px;
	line-height:50px;
width:140px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #3d768a;
}.classname:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #a6d5e6) );
	background:-moz-linear-gradient( center top, #408c99 5%, #a6d5e6 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#a6d5e6');
	background-color:#408c99;
}.classname:active {
	position:relative;
	top:1px;

}
.lower-container{
  background-color: #fdb827;
  margin: 0;
  padding: 50px 0 20px;
}


.last-paragraph{
  color: #f1f1f1;
  font-family: 'Roboto Slab', serif;
  margin-bottom:30px;
}
.First-button{
  font-family: 'Nunito Sans', sans-serif;
  color: #21209c;
  margin:10px 15px;
  text-decoration: none;
  font-weight: bold;

}
